{% extends "base.html" %}

{% block content %}

    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            <li>
                <form action="/blog">
                    <input type="hidden" name = "blog_id" value = {{blog.id}}>
                    <h2><a href="/singleblog">{{blog.title}}</a></h2>
                    <p>{{blog.body}}</p>
                </form>
                <hr>
            </li>
            {% endfor %}
        </ul>

    {% endif %}


{% endblock %}