{% extends "base.html" %}
{% block content %}

<html>
    
    <body>


        <form action = '/newpost' method="POST">
            <p><h5>Title for your new blog</h5></p>
            <input type = 'text' name = 'blogtitle' value = {{blogtitle}}><br>
            <p><h5>Your new blog:</h5></p>
            <textarea name="blogtext" id="" cols="30" rows="10">{{blogtext}}</textarea><br>
            <input type="submit" value = "Submit Blog">
        
        </form>
    </body>

</html>

{% endblock %}